asgiref
attrs
certifi
chardet
click
colorama
cryptography
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dotenv
drf-spectacular
drf-yasg
gunicorn
idna
jsonschema
jsonschema-specifications
packaging
pillow
protobuf
psycopg2-binary
PyJWT
python-dotenv
pytz
PyYAML
referencing
requests
rpds-py
six
sqlparse
typing-extensions
tzdata
urllib3
whitenoise
zipp
